.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 80px 0;
  width: 65%;
  height: 400px;
  color: #94a1b2;
  /* padding: 0 20px; */
}

.about-section div div {
  width: 49%;
}

.about-section div div div{
  width: 100%;
}

.about-section h2 {
  margin-bottom: 50px;
  color: #d4d4d4;
  font-size: 50px;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: 2px solid #2cb67d;
  padding: 0 20px;
  border-radius: 5px;
}

.my-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-description div h3 {
  margin-bottom: 15px;
  font-size: 20px;
}


.my-description div p {
  font-size: 18px;
}

.my-img {
  display: flex;
  justify-content: center;
  height: 300px;
  /* background-color: red; */
}

.my-img img {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 2px 5px 15px 1px rgb(44, 182, 125, 0.5);
}
.transition-layer {
  display: flex;
}

.transition-layer img {
  width: 100vw;
  overflow: hidden;
  background-color: #1e293b;
  transform-origin: bottom;
}

.download-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.download-div {
  height: 100px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f7f7f7;
  font-size: 30px;
  width: 300px;
  height: 60px;
  transition: 0.3s;
  border: 3px solid #7f5af0;
  background-color: #7f5af0;
  border-radius: 5px;
  font-weight: 600;
}

.download-button:hover {
  cursor: pointer;
  color: #7f5af0;
  background-color: transparent;
  border: 3px solid #7f5af0;

}

@media only screen and (max-width : 1300px) {
  .my-img {
    height: 200px;
  }
}

@media only screen and (max-width : 850px) {
  .my-img {
    height: 150px;
  }
}

@media only screen and (max-width : 700px) {
  
  .about-section {
    margin: 250px 0;
  }

  .my-img img {
    height: 150px;
    margin: 20px 0;
  }

  .about-container {
    flex-direction: column;
  }
}


@media only screen and (max-width : 700px) {
  .about-section {
    margin-top: 150px;
    width: 90%;
  }

  .about-section div div {
    width: 90%;
    height: 250px;
  } 

  .about-section h2 {
    font-size: 35px;
  }

  .my-description div p {
    font-size: 17px;
  }

  .my-img img {
    height: 200px;
  }

  .download-div p {
    font-size: 15px;
    margin: 0 0;
  }

  .download-button {
    font-size: 20px;
    width: 200px;
    height: 40px;
  }
}

@media only screen and (max-width : 500px) {
  
  .about-section {
    margin-top: 70px;
  }

  .about-container {
    height: 300px;
  }

  .my-img img {
    height: 170px;
    margin-top: 80px ;
  }
}

@media only screen and (max-width : 400px) {
  
  .about-container {
    height: 350px;
  }

  .my-img img {
    height: 150px;
    margin-top: 120px ;
  }
}

@media only screen and (max-width : 380px) {
  
  .about-container {
    height: 200px;
    margin-bottom: 100px;
  }

  .about-section {
    margin: 70px 0;
    width: 90%;
  }

  .about-section div div {
    width: 90%;
  } 

  .about-section h2 {
    font-size: 25px;
  }

  .my-description div p {
    font-size: 12px;
  }

  .my-img img {
    height: 100px;
    margin: 10px 0;
  }

  .download-div p {
    font-size: 15px;
    margin: 0 0;
  }

  .download-button {
    font-size: 20px;
    width: 200px;
    height: 40px;
  }
} 