.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 700;
  background-color: #7f5af0;
  width: 30px;
  height: 30px;
  font-size: 17px;
  transition: 0.2s;
}

.social-links a:hover {
  color: white;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 3px rgba(0,0,0,0.26); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 3px rgba(0,0,0,0.26);
}

.header-styles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #f1f1f1;
  height: 80vh;
  background-color: #1e293b;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100px;
}

.header-nav a {
  text-decoration: none;
  color: #f1f1f1;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  font-weight: 500;
}

.header-nav a:hover {
  background-color: hsla(255, 83%, 65%, 0.178);
  color: #ffffff;
  text-decoration: underline;
}

.title {
  width: 49%;
  display: flex;
  justify-content: center;
}

.nav-section {
  width: 49%;
}

.nav-section nav {
  display: flex;
  justify-content: space-around;
}

.introduction {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.introduction h1 {
  font-size: 40px;
  margin: 15px 0;
}

.introduction h4 {
  font-size: 20px;
  margin: 5px 0;
  
}

.introduction div {
  margin: 20px 0;
}

.introduction nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: 10px 0;
}

.line-division {
  width: 80%;
  border-top: 1px solid #bbb;
}
