main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #16161a;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  width: 60%;
  height: 400px;
  color: #94a1b2;
}

.about-section div {
  width: 49%;
}

.about-section div div {
  width: 100%;
}

.my-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-img {
  display: flex;
  justify-content: center;
}

.transition-layer {
  display: flex;
}

.transition-layer img {
  width: 100vw;
  overflow: hidden;
  background-color: #1e293b;
  transform-origin: bottom;
}