main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #16161a;
  color: #94a1b2;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  width: 60%;
  height: 400px;
  color: #94a1b2;
}

.about-section div {
  width: 49%;
}

.about-section div div {
  width: 100%;
}

.my-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-img {
  display: flex;
  justify-content: center;
}

.transition-layer {
  display: flex;
}

.transition-layer img {
  width: 100vw;
  overflow: hidden;
  background-color: #1e293b;
  transform-origin: bottom;
}

.download-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.download-div {
  height: 100px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fffffe;
  font-size: 30px;
  width: 300px;
  height: 60px;
  transition: 0.3s;
  border: 3px solid #7f5af0;
  background-color: #7f5af0;
  border-radius: 5px;
}

.download-button:hover {
  cursor: pointer;
  color: #7f5af0;
  background-color: transparent;
  border: 3px solid #7f5af0;

}