
#skills-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-top: 50px;
}

#skills-section h2 {
  color: #d4d4d4;
  font-size: 50px;
}

.hard-skills {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #7f5af0;
  background-color: #222222;
  border-radius: 5px;
  margin-top: 70px ;
  width: 80%;
  height: 100px;
}

.hard-skills ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.hard-skills ul li{
  display: block;
  font-size: 20px;
  padding: 10px 18px;
  transition: 0.2s;
  border-radius: 5px;
  border: 2px solid transparent;
}

.hard-skills ul li:hover {
  cursor: pointer;
  border: 2px solid #7f5af0;
  background-color: #815cf02d;
  color: white;
}

.skills-description {
  margin: 50px 0;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.skills-description h3 {
  color: #b4b4b4;
  font-size: 20px;
}

.skill-board {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  width: 100%;
  height: 200px;
  border-left: 2px solid #2cb67d;
  background-color: #22222267;
  border-radius: 5px;
}

.skill-board h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.skill-board p {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
}

@media only screen and (max-width : 900px) {
  
  .hard-skills {
    height: 80px;
  }

  .hard-skills ul li {
    padding: 6px 10px;
    font-size: 15px;
  }

  .skills-description h3 {
    font-size: 22px;
  }

  .skill-board {
    padding: 15px 10px;
  }

  .skill-board p {
    font-size: 16px;
  }
}

@media only screen and (max-width : 700px) {

  .skills-description {
    width: 90%;
  }

  .skill-board {
    padding: 0 40px;
  }
}

@media only screen and (max-width : 570px) {

  #skills-section h2 {
    font-size: 35px;
  }

  .hard-skills {
    margin-top: 50px;
    width: 90%;
    height: 50px;
  }

  .hard-skills ul li{
    font-size: 12px;
    padding: 3px 5px;
  }

  .skills-description h3 {
    font-size: 22px;
  }

  .skill-board {
    padding: 15px 10px;
    height: 250px;
  }

  .skill-board p {
    font-size: 16px;
  }
}

@media only screen and (max-width : 480px) {
  .skill-board {
    padding: 15px 10px;
    height: 270px;
  }

  .skill-board p {
    font-size: 16px;
  }
} 

@media only screen and (max-width : 376px) {
  
  #skills-section {
    margin-top: 0;  
  }

  #skills-section h2 {
    font-size: 25px;
  }

  .hard-skills {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    border-radius: 0;
  }

  .hard-skills ul {
    margin: 0 7px;
  }

  .hard-skills ul li{
    font-size: 10px;
    padding: 3px 5px;
  }

  .skills-description h3 {
    font-size: 18px;
  }

  .skill-board {
    padding: 15px 10px;
  }

  .skill-board p {
    font-size: 12px;
  }
}
